<% flash.each do |type, msg| %>
  <div>
    <b class="danger"><%= msg %></b>
  </div>
<% end %>
<br/>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('Login') %><br/>
  <%= f.password_field :password, autocomplete: "current-password", placeholder: t('password') %><br/>
  <br/>
  <div class="actions">
    <%= f.submit t("login") %>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
